Zutty.altScroll: true
Zutty.font: FantasqueSansMono
Zutty.fontsize: 22
Zutty.fg: #ffffff
Zutty.bg: #000000
Zutty.color0: #000000
Zutty.color1: #cc0000
Zutty.color2: #4e9a06
Zutty.color3: #c4a000
Zutty.color4: #3465a4
Zutty.color5: #75507b
Zutty.color6: #06989a
Zutty.color7: #d3d7cf
Zutty.color8: #555753
Zutty.color9: #ef2929
Zutty.color10: #8ae234
Zutty.color11: #fce94f
Zutty.color12: #739fcf
Zutty.color13: #ad7fa8
Zutty.color14: #34e2e2
Zutty.color15: #eeeeec
Zutty.saveLines: 2000
